body {
  margin: 0;
  font-family: Arial;
  text-align: center;
  background: linear-gradient(#70c5ce, #ffffff);
}

/* HOME */
#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: #ffcc00;
  cursor: pointer;
}

/* GAME */
#gameSection {
  display: none;
}

canvas {
  background: #70c5ce;
  display: block;
  margin: auto;
}

#score {
  font-size: 30px;
  margin-top: 10px;
}

#gameOver {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}